Nav .nav-links{
   color: #fff;
   border: none;
   padding: 15px;
   /* display: inline-block; */
   text-decoration: none; 
   
} 

Nav .nav-links:hover{
   background-color:red;
   color: black;
    /* animation: moveDown 0.5s ease-in-out; */
    
} 

 /* .nav-theme{
   font-size: 20px;
   height: 60px; */
   /* display: flex;
   align-items: center; */
 
 /* } */
 /* .animated-navbar {
   box-shadow: 1px 1px 1px hsla(240, 74%, 27%, 0.973);
   animation: moveDown 0.5s ease-in-out;
   
}  */