Nav .nav-links{
   color: #fff;
   border: none;
   padding: 15px;
   /* display: inline-block; */
   text-decoration: none; 
   
} 

Nav .nav-links:hover{
   background-color:red;
   color: black;
    /* animation: moveDown 0.5s ease-in-out; */
    
} 

