.all-products {
   width: 300px;
   height: 375px;
    /* height: fit-content; */
   /* border: 1px solid gold; */
   position: relative;
}
.all-products img{
    width: 300px;
    height: 185px;
}

.features{
    background-color: rgb(27, 26, 26);
    color: white;
    position: absolute;
    width: 300px;
    height: 190px;
}

