.all-products {
   width: 300px;
   height: 375px;
    /* height: fit-content; */
   /* border: 1px solid gold; */
   position: relative;
}
.all-products img{
    width: 300px;
    height: 185px;
}

.features{
    background-color:  rgb(201, 113, 113);
    /* color: white; */
    position: absolute;
    width: 300px;
    height: 190px;
}
.all-products:hover{
    background-color:  rgb(193, 62, 62);
}

