.all-products-home {
  width: 300px;
  height: 375px;
   /* height: fit-content; */
  /* border: 1px solid gold; */
  position: relative;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.all-products-home img{
  width: 300px;
  height: 185px;
}

.all-products-home:hover{
  background-color: rgb(201, 113, 113);
}


.features-home{
 
}

.update{
  width: 80px;
  height: 30px;
  border: none;
  color: white;
  background-color: red;
  box-shadow: inset black;
  transition: ease-out 0.7s;
  font-size: 1rem;
  outline: none;
}

.update:hover{
  box-shadow: inset 80px 0 0 0 #000;
  cursor: pointer;
  color: white;
}